.container {
  margin-top: 40px;
  font-size: 0;
}
#gomoku {
  display: block;
  margin: 0 auto;
  background-color: #ecad5b;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}
#gomoku-piece {
  display: block;
  margin: -700px auto 0 auto;
}